.form-label {
    font-weight: 500;
    span {
        color: red;
        font-weight: 400;
    }
}
ul {
    font-family: Montserrat;
  }




.budget-btn {
    width: 10px;
    &:hover{
        background-color: rgb(0, 81, 255);
    }
}

.radio {
    visibility: hidden;
}

.hr-height{
    height: 3px;
    color: rgb(17, 17, 105);
    opacity: 1;
    width: 50%;
    position: relative;
    left: 20px;
}

.checkbox-padding{
    position: relative;
    margin-left: 10px;
}

.btn-position{
    position: relative;
    justify-content: center;
}

.btn-space{
    margin-right: 20px;
}

.radio-space{
    margin-right: 10px;
    margin-bottom: 5px;
}

.input-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw;
    // gap: 10px;
    position: relative;
    height: auto;
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    border-color: #0000001a;
    // border: #FFFFFF;
}
body {
    // background-color: #ffffff!important;
    font-family: 'Neue Haas Grotesk Text Pro'!important;

}
.form-bg {
    background-image: url('../images/form-bg-png.png');
    position: relative;
    width: auto;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
}
h1,h2,h3,h4,h5,h6, .btn {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
  }
  h1 {
      font-size: 50px !important;
      text-transform: capitalize;
  }
   p {
        font-size: 24px !important;
        width: 75%;
  }
  .example_f {
    border-radius: 10px;
    background: linear-gradient(to right, #14286A, #14286A) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 2vw 8vw !important;
    width: fit-content;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
  }
  .hero {
    position: relative !important;
    top: 0;
    right: -75px;
}
.hero .img {
    position: relative !important;
    z-index: 1 !important;
    left: 35px !important;
}
  .child_1{
    position: absolute !important;
    top: -10px;
    left: -65px;
} 
.form input {
    color: #000;
}
.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #14286A;
    color: #FFFFFF !important;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none !important;
}
.border {
    border-radius: 20px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width:992px) {
    .col-sm-12 {
        text-align: center;
        width: 100%;
    }
    h1,h2 {
        text-transform: uppercase;
    }
    p {
        width: 100%;
    }
}