<style>
    .about-text {
        position: relative;
        top: 50px;
    }

    @media screen and (min-width: 0px) and (max-width: 1024px) {
        .div-mobile {
            display: block;
        }

        .div-desktop {
            display: none;
        }
    }

    @media screen and (min-width: 1025px) and (max-width: 3000px) {
        .div-mobile {
            display: none;
        }

        .div-desktop {
            display: block;
        }
    }

    .font-weight-bold {
        font-weight: 700;
    }

    .example_f {
   border-radius: 10px;
   background: linear-gradient(to right, #14286A , #14286A ) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   /* padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 10px; */
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }


    .event{
  margin:50px auto;
  text-align:center;
}

 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }
 body {
    background-color: #e5e5e5 !important;
    color: #000 !important;
 }
 p {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6, .btn {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}
.hero {
    position: relative;
    z-index: 1;
    top: 0;
    right: -75px;
}
.child_1{
    position: absolute;
    top: -10px;
    left: -65px;
    /* transform: rotate(-75.41deg); */
} 
/* .child_2 {
    position: absolute;
    top: 0;
    right: 15px;
    transform: rotate(-60.71deg);
}
.child_3 img{
    position: absolute;
    top: -35px;
    left: -37px;
    transform: rotate(-58.29deg);

} */
.child1 {
    position: absolute;
   bottom: -23px;
    left: -175px;
}
h1 {
    font-size: 50px !important;
    font-weight: 800 !important;
}
.p {
    font-size: 24px !important;
}
button {
    /* padding: 20px 30px !important; */
    background-color: #14286A !important;
    border-radius: 10px !important;
    margin-top: 50px !important;
}
.div-mobile .hero {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    /* width: 240px;
    height: 350px; */
}
.div-mobile .child_1 {
    position: absolute;
    /* top: 0;
    right: 0; */
    /* width: 50%!important; */
}
.div-mobile .child_2 {
    position: absolute;
    top: 0;
    right: 0;
    /* width: 50%!important; */
}
.div-mobile .child_3 img {
    position: absolute;
    top: 0;
    right: 0;
    /* width: 50%!important; */
}


</style>
<section>
    <div class="container div-desktop">
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="hero">
                    <img src="images/astronaut.png" alt="" class="img-fluid w-75 position-relative" style="z-index: 1; top: -25px;">
                    <div class="child1">
                        <!-- <img src="images/Vector2.png" alt="" class="img-fluid"> -->
                        <img src="images/Group1.png" alt="" class="img-fluid">
                    </div>
                </div>
                    <!-- <div class="child_2"><img src="images/Vector3.png" alt="" class="img-fluid"></div>
                    <div class="child_3"><img src="images/Vector4.png" alt="" class="img-fluid"></div> -->
                </div>
                <div class="col-md-1"></div>
            <div class="col-md-7 mt-5">
                <div>
                    <h1 class="font-weight-bold mt-2 mb-4"> About Us
                    </h1>
                    <p>iMobilize is a mobile app design and development studio based in London. Mobile apps and mobile
                        optimised website are our speciality.We design and build custom-made apps and web systems to suit
                        our clients needs.</br> </br>
    
                        We Work with small startups and large corporate companies across the globe.Our Clients are in locations such as the United States, Canada, U.K, India, Australia and Pakistan.</br></br>
    
                        We have been desiging and developing tech solutions for our clients for over a decade now.We have experience creating websites and apps in media,gaming,gambling,trading,ecommerce,fitness,real estate and more.</p>
        </div>
    </div>
</div>
</div>
    
                <div class="container div-mobile">
                <div class="col-md-12 mt-5 text-center">
                        <h1 class="text-center font-weight-bold mt-2 mb-5"> About Us
                        </h1>
                        <p class="text-center">iMobilize is a mobile app design and development studio based in London. Mobile apps and mobile
                            optimised website are our speciality.We design and build custom-made apps and web systems to suit
                            our clients needs.</br></br> 
        
                            We Work with small startups and large corporate companies across the globe.Our Clients are in locations such as the United States, Canada, U.K, India, Australia and Pakistan.</br></br>
        
                             We have been desiging and developing tech solutions for our clients for over a decade now.We have experience creating websites and apps in media, gaming, gambling, trading, ecommerce, fitness, real estate and more.</p>
                        <div class="div-mobile mb-5 mt-5">
                            <center>
                                <div class="row">
                                    <div class="col-sm-12 mt-5 align-items-center position-relative">
                                        <div class="d-flex justify-content-center">
                                            <img src="images/Group11.png" alt="" class="img-fluid w-100 h-100">
                                        </div>
                                    </div>        
                            </center>
                        </div>
                </div>
                </div>
</section>