<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .h-50 {
        height: 300px;
        width: auto;

    }

    .banner {
        background-image: url("/landing-page/header-bg.png");
        width: 100%;
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;

    }

    .banner-mockup {
        position: relative;
        width: 65%;
        z-index: 2;
    }

    .lazyloaded {
        opacity: 1;
        transition: opacity 400ms;
        transition-delay: 0ms;
    }

    .logo {
        position: relative;
        width: 70%;
    }

    .cta-btn {
        left: 75px;
        position: relative;
    }

    .cta-text {
        top: 50px;
        position: relative;
    }

    .btn {
        border: 7px solid !important;
    }

    @media screen and (min-width: 0px) and (max-width: 1024px) {
        .div-mobile {
            display: block;
        }

        .div-desktop {
            display: none;
        }
    }

    @media screen and (min-width: 1025px) and (max-width: 3000px) {
        .div-mobile {
            display: none;
        }

        .div-desktop {
            display: block;
        }
    }

    @media screen and (max-width: 740px) {
        h1 {
            font-size: 22px !important;
        }

        .font-weight-bold {
            font-weight: 700;
        }
    }

    .w-65 {
        width: 65%;
    }

    @media screen and (max-width: 356px) {
        .item {
            position: relative;
            width: min-content;
            bottom: 0px;
            z-index: 4;
            left: -10px;
        }

        .owl-dots {
            position: relative;
            right: 20px;
            bottom: 10px;
            padding: 20px;
            margin-bottom: 40px;

        }

        .mockup-position {
            position: relative;
            bottom: 100px;
            left: 100px;
        }

    }

    .owl-dots {
        position: relative;
        /* right: 810px; */
        bottom: 10px;
        padding: 20px;
        margin-bottom: 40px;
    }

    .banner-wrapper {
        position: relative;
        z-index: 5;
        width: fit-content;
        height: fit-content;
    }

    .ag-slider-wrapper {
        position: relative;
        /* z-index: 4; */
        left: 10px;
        width: 260px;
        float: left;
    }

    /* .mockup-position 
    position: relative;
    /* bottom: 160px; */
    /* left: 10px; */

    .item {
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 200px;
        z-index: 4;
        /* left: 100px; */
    }

    .empty-iphone {
        position: absolute;

    }
</style>
<!-- CSS only -->
</script>
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="d-flex align-self-start"></div>
                <img src="landing-page/imobilize-logo.png" class="img-fluid w-100">
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="col-sm-8 mt-5">
                    <h3 class="text-left text-white pb-2 mt-2 font-weight-bold mt-3"><span class="bg-warning">Your
                            customers are mobile</span></h3> </br>
                    </br>
                    <h1 class="text-white font-weight-bold mt-2 mb-2"> That’s why we create mobile apps and mobile
                        responsive websites so that you can reach them
                    </h1>
                    </br>
                    </br>
                    <h2 class="text-white font-weight-bold pb-2">
                        Welcome to iMobilize

                    </h2>
                    </h1>
                    <div class="div-desktop pb-5">
                        <a type="button" href="/enquiry-form" class="btn btn-lg btn-outline-warning">ESTIMATE THE
                            COST OF MY
                            PROJECT</a>
                    </div>
                    <a class="div-mobile mb-5">
                        <button type="button" href="/enquiry-form" class="btn btn-sm btn-outline-warning ">ESTIMATE THE
                            COST OF MY
                            PROJECT</button>
                    </a>
                </div>
                <div class="col-sm-4">
                    <div class="">
                        <div class="mockup-position">
                            <div class="ag-slider-wrapper">
                                <div class="empty-iphone">
                                    <img src="/landing-page/iphone-empty.png" class="banner-wrapper">
                                </div>
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img src="/landing-page/sky-app.png" class="img-fluid">
                                    </div>
                                    <div class="item active">
                                        <img src="/landing-page/buddy-bounce-app.png" class="img-fluid">
                                    </div>
                                    <div class="item">
                                        <img src="/landing-page/onit-app.png" class="img-fluid">
                                    </div>
                                    <div class="item">
                                        <img src="/landing-page/sky-app.png" class="img-fluid">
                                    </div>
                                    <div class="item active">
                                        <img src="/landing-page/buddy-bounce-app.png" class="img-fluid">
                                    </div>
                                    <div class="item">
                                        <img src="/landing-page/onit-app.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-12 div-mobile overflow-hidden">
                    <div class="d-inline-block d-block align-self-center">
                            <div class="mockup-position">
                                <img src="/landing-page/iphone-empty.png" class="img-fluid banner-wrapper">
                                <div class="ag-slider-wrapper">
                                    <div class="owl-carousel owl-theme owl-loaded">
                                        <div class="item">
                                            <img src="/landing-page/sky-app.png" class="img-fluid">
                                        </div>
                                        <div class="item active">
                                            <img src="/landing-page/buddy-bounce-app.png" class="img-fluid">
                                        </div>
                                        <div class="item">
                                            <img src="/landing-page/onit-app.png" class="img-fluid">
                                        </div>
                                        <div class="item">
                                            <img src="/landing-page/sky-app.png" class="img-fluid">
                                        </div>
                                        <div class="item active">
                                            <img src="/landing-page/buddy-bounce-app.png" class="img-fluid">
                                        </div>
                                        <div class="item">
                                            <img src="/landing-page/onit-app.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-8 div-mobile">
                    <center>                    <img src="/landing-page/omit-app-mockup.png" class="img-fluid w-50">
                    </center>
                </div> -->
            </div>
        </div>
    </div>
</section>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            items: 1,
            autoplay: true,
            stagePadding: 0,
            lazyLoad: true,
            loop: true,
            dots: true,
            mouseDrag: true,
            touchDrag: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
    })
</script>