<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    .h-50 {
        height: 300px;
        width: auto;

    }

    .banner {
        /* background-image: url("/landing-page/header-bg.png"); */
        width: 100%;
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    .banner-mockup {
        position: relative;
        width: 65%;
        z-index: 2;
    }

    .lazyloaded {
        opacity: 1;
        transition: opacity 400ms;
        transition-delay: 0ms;
    }

    .logo {
        position: relative;
        width: 70%;
    }

    .cta-btn {
        left: 75px;
        position: relative;
    }

    .cta-text {
        top: 50px;
        position: relative;
    }

    @media screen and (min-width: 0px) and (max-width: 1024px) {
        .div-mobile {
            display: block;
        }

        .div-desktop {
            display: none;
        }
    }

    @media screen and (min-width: 1025px) and (max-width: 3000px) {
        .div-mobile {
            display: none;
        }

        .div-desktop {
            display: block;
        }
    }

    @media screen and (max-width: 740px) {
        h1 {
        font-size: 24px !important;
        font-weight: 600 !important;
  }

    h2 {
        font-size: 22px !important; 
    }
    h3 {
        font-size: 20px !important;
}
    h4 { font-size: 18px !important;
}
    h5 { font-size: 16px !important;
}
    h6 { font-size: 14px !important;
}

        .font-weight-bold {
            font-weight: 700;
        }
    }

    .w-65 {
        width: 65%;
    }

    @media screen and (max-width: 750px) {

        .ag-slider-wrapper {
            position: relative;
            left: 10px;
            width: 100px;
            float: left;
        }

    }

    .owl-dots {
        position: relative;
        /* right: 810px; */
        bottom: 10px;
        padding: 20px;
        margin-bottom: 40px;
    }

    .banner-wrapper {
        position: relative;
        z-index: 5;

        width: 100% !important;
        /* height: auto; */
    }

    .ag-slider-wrapper {
        position: relative;
        /* z-index: 4; */
        left: 10px;
        width: 300px;
        float: left;
    }

    .item {
        position: relative;
        width: fit-content;
        height: fit-content;
        z-index: 4;
    }

    .empty-iphone {
        position: absolute;
    }

    .mob-right {
        position: relative;
        margin-left: auto;
    }
    
    .example_f {
   border-radius: 4px;
   background: linear-gradient(to right, #14286A, #14286A) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   /* padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 10px; */
   width: fit-content;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }

    .event{
  margin:50px auto;
  text-align:center;
}

 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }

 .example_ {
   border-radius: 4px;
   background: linear-gradient(to right, #14286A, #14286A) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 16px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 10px;
   width: fit-content;
   transition: all 0.4s;
   cursor: pointer;   
 }

    .event{
  margin:50px auto;
  text-align:center;
}

 .example_ span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_ span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   transition: 0.5s;
 }
.bg-orange {
    color: #14286A
}



</style>
<!-- CSS only -->

<section class="banner">
    <div class="container div-desktop">
        <div class="row">
            <div class="col-md-7 mt-5">
                <div>
                    <h1 class="font-weight-bold mt-5 mb-2"> That’s Why We So you need to talk about your business online?
                    </h1>
                    </br>
                    </br>
                    <h2 class="font-weight-bold pb-2">
                        Don't Worry We Can Help You!
                    </h2>
                </div>
                <div class="div-desktop pb-5 mt-5">
                    <div class="button_cont"><a class="example_f px-3 py-3" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
            </div>
            </div>
                <div class="col-md-5 mt-5">
                    <div class="hero">
                    <img src="images/think.png" alt="" class="img-fluid w-75 position-relative" style="z-index: 1;right: -25px;">
                    <div class="child_1">
                        <img src="images/Group.png" alt="" class="img-fluid">
                    </div>
                    <!-- <div class="child_2"><img src="images/Vector3.png" alt="" class="img-fluid"></div>
                    <div class="child_3"><img src="images/Vector4.png" alt="" class=""></div> -->
                </div>
                </div>
        </div>
    </div>
    
                <div class="container div-mobile">
                <div class="col-md-12 mt-5">
                    <div>
                        <h1 class="text-center font-weight-bold mt-2 mb-2"> That’s Why We So you need to talk about your business online?
                        </h1>
                        </br>
                        </br>
                        <h2 class="text-black text-center font-weight-bold pb-2">
                            Don't Worry We Can Help You!
                        </h2>
                        <div class="div-mobile mb-5 mt-5">
                            <center>
                                <div class="button_cont"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                            </center>
                        </div>
                    </div>
                    </div>

               
            
                </div>
</section>