
<style>
    p {
        font-size: 20px;
    }

    @media screen and (min-width: 0px) and (max-width: 1024px) {
        .div-mobile {
            display: block;
        }

        .div-desktop {
            display: none;
        }
    }

    @media screen and (min-width: 1025px) and (max-width: 3000px) {
        .div-mobile {
            display: none;
        }

        .div-desktop {
            display: block;
        }
    }
    .card {
        border-radius: 10px !important;
        background-color: #fff !important;
    }
    .parent {
      position: relative;
      z-index: 2;
    }

    .child_img {
      position: absolute;
      top: 0;
      z-index: 1;
    }
    .div-desktop {
      position: relative;
      z-index: 1;
    }


    
</style>
<div class="container div-desktop ">
      <section class="mt-5 parent">
        <div class="row mt-5">
            <!-- HEADING -->
            <div class="d-flex justify-content-center">
                <h1 class="font-weight-bold">Why You Should Be Mobile</h1>
            </div>
        </div>
        <!-- INFOGRAPHIC #1 -->
        <div class="row mt-5">
            <div class="col-sm-5">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Time Spent on Mobile <br> Devices</h2>
                  <p class="card-text">In 2019,the average US adult spent 3 hours and 43 minutes a day on mobile devices. That marked the first time that the time spent on mobile exceeded the time spent watching television, which came in at 3 hours and 35 minutes.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">People Using Phones for Product Research</h2>
                  <p class="card-text">The latest mobile usage statistics show that nearly seven out of ten internet users in the US say they would look for customer reviews on their phones while in-store before approaching an employee (eMarketer,2019). <br> <br></p>
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        <!-- INFOGRAPHIC #2 -->
        <div class="row mt-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Mobile Device Statistcs:Traffic</h2>
                    <p class="card-text">More than half (55.4 percent) of internet users use the mobile phones tp purchase products online and seven in ten (69.4 percent) say they use shopping apps on their mobile devices - be it a phone or a tablet (DataReportal,2021). <br></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Mobile Device Statistcs:Traffic</h2>
                    <p class="card-text">At the start of 2015, less than one-third (31.16 percent) of the global web traffic came from mobile deices, Fast forward to just six years later to the start of 2021 and that number has skyrocketed to 54.8 percent,marking a 75.9 percent jump (Statista,2021)</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
            <div class="child_img">
            <img class="img-fluid" src="images/Group6.png" alt="">
          </div>
          </div>
       <div class="container div-mobile mt-5">
         <section class="parent_1">
         <div class="row mt-5">
           <!-- HEADING -->
           <div class="d-flex justify-content-center">
             <h1 class="font-weight-bold text-center">Why You Should be Moblile</h1>
            </div>
          </div>
          <!-- INFOGRAPHIC #1 -->
        <div class="row mt-5 p-2">
            <div class="col-md-12 col-sm-12">
                <div class="card text-center">
                    <div class="card-body">
                      <h2 class="card-title my-5">Time Spent on Mobile <br> Devices</h2>
                      <p class="card-text">In 2019,the average US adult spent 3 hours and 43 minutes a day on mobile devices. That marked the first time that the time spent on mobile exceeded the time spent watching television, which came in at 3 hours and 35 minutes.</p>
                    </div>
                  </div>
            </div>
        </div>
        <!-- INFOGRAPHIC #2 -->
        <div class="row p-2">
            <div class="col-md-12 col-sm-12">
                <div class="card text-center my-5">
                    <div class="card-body">
                      <h2 class="card-title my-5">People Using Phones for Product Research</h2>
                      <p class="card-text">The latest mobile usage statistics show that nearly seven out of ten internet users in the US say they would look for customer reviews on their phones while in-store before approaching an employee (eMarketer,2019). <br> <br></p>
                    </div>
                  </div>
            </div>
        </div>
          <!-- INFOGRAPHIC #3 -->
        <div class="row p-2">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                      <h2 class="card-title my-5">Mobile Device Statistcs:Traffic</h2>
                      <p class="card-text">More than half (55.4 percent) of internet users use the mobile phones tp purchase products online and seven in ten (69.4 percent) say they use shopping apps on their mobile devices - be it a phone or a tablet (DataReportal,2021). <br> <br></p>
                    </div>
                  </div>
            </div>
        </div>
        <!-- INFOGRAPHIC #4 -->
        <div class="row mt-3 p-2">
            <div class="col-md-12 col-sm-12">
                <div class="card text-center">
                    <div class="card-body">
                      <h2 class="card-title my-5">Mobile Device Statistcs:Traffic</h2>
                      <p class="card-text">At the start of 2015, less than one-third (31.16 percent) of the global web traffic came from mobile deices, Fast forward to just six years later to the start of 2021 and that number has skyrocketed to 54.8 percent,marking a 75.9 percent jump (Statista,2021)</p>
                    </div>
                  </div>
            </div>
        </div>
      </section>
    </div>