<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center font-weight-bold">Why you should be mobile</h1>
            </div>
        </div>
        <div class="row pt-5">
            <div class="d-flex justify-content-center">
                <img src="/landing-page/infographic-1.png" class="img-fluid w-50">
            </div>
        </div>
        <div class="row pt-3">
            <div class="d-flex justify-content-center">
                <img src="/landing-page/infographic-2.png" class="img-fluid w-50">
            </div>
        </div>
        <div class="row pt-3">
            <div class="d-flex justify-content-center">
                <img src="/landing-page/infographic-3.png" class="img-fluid w-50">
            </div>
        </div>
        <div class="row pt-3 mb-5">
            <div class="d-flex justify-content-center">
                <img src="/landing-page/infographic-4.png" class="img-fluid w-50">
            </div>
        </div>
        <div class="row pt-3 mb-5">
            <div class="d-flex justify-content-center">
                <button type="button" href="/" class="btn btn-lg btn-outline-warning">ESTIMATE THE COST OF MY PROJECT</button>
            </div>
        </div>
        <div class="p-5"></div>
    </div>
</section>