<style>

        /* !! mobile view button !! */

        .example_ {
   border-radius: 4px;
   background: linear-gradient(to right, #FF882E, #FF882E) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 16px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 10px;
   width: fit-content;
   transition: all 0.4s;
   cursor: pointer;   
 }

    #rocking {
        animation: rocking 10s infinite ease;

    }

    @keyframes rocking {
    0%, 100% { transform: rotate(-0.1deg); }
    20% {transform:scale(.95);}
    50% { transform: rotate(0.1deg); }
    80% {transform:scale(.95);}
    }

    .event{
  margin:50px auto;
  text-align:center;
}

 .example_ span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_ span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   transition: 0.5s;
 }

 /* !! mobile view button end !! */

    .example_f {
   border-radius: 4px;
   background: linear-gradient(to right, #FF882E, #FF882E) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 10px;
   width: 200px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 5px;
 }

    #rocking {
        animation: rocking 10s infinite ease;

    }

    @keyframes rocking {
    0%, 100% { transform: rotate(-0.1deg); }
    20% {transform:scale(.95);}
    50% { transform: rotate(0.1deg); }
    80% {transform:scale(.95);}
    }

    .event{
  margin:50px auto;
  text-align:center;
}

 .example_f span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .example_f span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .example_f:hover span {
   padding-right: 25px;
 }
 .example_f:hover span:after {
   opacity: 1;
   right: 0;
 }



</style>
<section>
    <div class="container bg-light div-desktop">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center font-weight-bold p-5">
                    A Small Selection Of Our Projects
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="landing-page/sovryn-mockup.png" alt="Sovryn Website developed by iMobilize" class="img-fluid">
            </div>
            <div class="col-md-6 pt-5">
                <h1 class="text-center p-3 font-weight-bold">Sovryn</h1>
                <p class="text-center"> A cryptocurrency trading platform. iMobilize was hired to revamp the website in order to make it more engaging, user friendly and mobile optimised
                </p>
                <div class="p-5 div-desktop">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
                <div class="mt-5 mb-5 div-mobile">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 pt-5">
                <h1 class="text-center p-3 font-weight-bold">Buddy Bounce</h1>
                <p class="text-center">
                    Social media app for music artists. iMobilize built the iOS app that launched Buddy Bounce’s startup journey
                </p>
                <div class="p-5 div-desktop">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
                <div class="mt-5 mb-5 div-mobile">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="landing-page/buddy-bounce.png" alt="buddy bounce app created by iMobilize" class="img-fluid w-50">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="landing-page/sky-go.png" alt="sky go app developed by iMobilize" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <h1 class="text-center p-3 font-weight-bold">SKY GO</h1>
                <p class="text-center">
                    Watch live TV and on demand content on your mobile device. iMobilize helped to build the biggest OTT platform in the UK even before Netflix became popular.             
                </p>
                <div class="p-5 div-desktop">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
                <div class="mt-5 mb-5 div-mobile">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 pt-5">
                <h1 class="text-center p-3 font-weight-bold">Fit Freaks</h1>
                <p class="text-center">
                    The on demand fitness app - iMobilize developed the iOS and Android version of the smash hit Fit In 5 workout series. We also designed and built the websites and handled the social media marketing                  </p>
                <div class="p-5 div-desktop">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
                <div class="mt-5 mb-5 div-mobile">
                    <center>
                        <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                    </center>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="landing-page/fitfreaks-mockup.png" alt="Fit Freaks app and website created and developed by iMobilize" class="img-fluid w-75">
                </div>
            </div>
        </div>
    </div>
    <div class="container div-mobile">
        <div class="bg-light">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center font-weight-bold p-5">
                        A Small Selection Of Our Projects
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="landing-page/sovryn-mockup.png" alt="Sovryn Website developed by iMobilize" class="img-fluid">
                </div>
                <div class="col-md-6 pt-5">
                    <h1 class="text-center p-3 font-weight-bold">Sovryn</h1>
                    <p class="text-center"> A cryptocurrency trading platform. iMobilize was hired to revamp the website in order to make it more engaging, user friendly and mobile optimised
                    </p>
                    <div class="p-5 div-desktop">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                    <div class="mt-5 mb-5 div-mobile">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <img src="landing-page/buddy-bounce.png" alt="buddy bounce app created by iMobilize" class="img-fluid w-50">
                    </div>
                </div>
                <div class="col-md-6 pt-5">
                    <h1 class="text-center p-3 font-weight-bold">Buddy Bounce</h1>
                    <p class="text-center">
                        Social media app for music artists. iMobilize built the iOS app that launched Buddy Bounce’s startup journey
                    </p>
                    <div class="p-5 div-desktop">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                    <div class="mt-5 mb-5 div-mobile">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <img src="landing-page/sky-go.png" alt="Sky Go app created by iMobilize" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center p-3 font-weight-bold">SKY GO</h1>
                    <p class="text-center">
                        Watch live TV and on demand content on your mobile device. iMobilize helped to build the biggest OTT platform in the UK even before Netflix became popular.             
                    </p>
                    <div class="p-5 div-desktop">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                    <div class="mt-5 mb-5 div-mobile">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <img src="landing-page/fitfreaks-mockup.png" alt="Fit Freaks app and website created and developed by iMobilize" class="img-fluid w-75">
                    </div>
                </div>
                <div class="col-md-6 pt-5">
                    <h1 class="text-center p-3 font-weight-bold">Fit Freaks</h1>
                    <p class="text-center">
                        The on demand fitness app - iMobilize developed the iOS and Android version of the smash hit Fit In 5 workout series. We also designed and built the websites and handled the social media marketing                  </p>
                    <div class="p-5 div-desktop">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_f" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                    <div class="mt-5 mb-5 div-mobile">
                        <center>
                            <div class="button_cont" id="rocking"><a class="example_" href="/enquiry-form" target="_blank" rel="nofollow"><span>Estimate the cost of my project</span></a></div>        
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>