<style>
    /* !! mobile view button !! */

    .example_ {
        border-radius: 10px;
        background: linear-gradient(to right, #14286A, #14286A) !important;
        border: none;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        width: fit-content;
        transition: all 0.4s;
        cursor: pointer;
    }



    .event {
        margin: 50px auto;
        text-align: center;
    }

    .example_ span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
    }

    .example_ span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        transition: 0.5s;
    }

    /* !! mobile view button end !! */

    .example_f {
        border-radius: 10px;
        background: linear-gradient(to right, #14286A, #14286A) !important;
        border: none;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        /* padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px; */
        width: 200px;
        transition: all 0.4s;
        cursor: pointer;
        margin: 5px;
    }


    .event {
        margin: 50px auto;
        text-align: center;
    }

    .example_f span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
    }

    .example_f span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .example_f:hover span {
        padding-right: 25px;
    }

    .example_f:hover span:after {
        opacity: 1;
        right: 0;
    }
        /* #last .btn {
            background-color: #14286A;
            padding: 10px 10px;
            width: 230px;
            height: 56px;
            border-radius: 10px;
            margin-bottom: 30px;
            margin-top: 30px;
            font-size: 20px;
        } */

    #last h4 {
        padding-bottom: 10px;
    }

    #last h1 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 50px;
    }
     h5 {
        color: #000;
    }
    .btn {
        background-color: #14286A;
        /* padding: 10px 50px; */
        /* width: 230px;
        height: 56px; */
        border-radius: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 20px;
    }
    .div-mobile .card {
        text-align: center;
    }
</style>
<section id="last">
    <div class="container">
        <div class="row text-center">
            <h1>Take A Look At Our Work</h1>
        </div>
    </div>
    <div class="container div-desktop">
        <div class="row text-center mt-4">
          <h1>Mobile Apps</h1>
        </div>
        <!-- <div class="row g-4">
            <div class="">
        <div class="card-group">
            <div class="card">
              <img src="images/Group10.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SKY GO</h5>
                <p class="card-text">Watch live TV and on demand content on your mobile device. iMobilize helped to build the
                    biggest OTT platform in the UK even before Netflix bacame popular.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="images/Group9.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Buddy Bounce</h5>
                <p class="card-text">Social media app for music artists. iMobilize built the iOS app that launched Buddy Bounce's
                    startup journey.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="images/Group10.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Onit</h5>
                <p class="card-text">A mobile app which gives the user to find event and promotions close to a user's location.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
                <img src="images/Group10.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fit Freaks</h5>
                  <p class="card-text">The on demand fitness app - iMobilize developed the iOS and Andriod version of the smash hit fit
                    In 5 workout series. We alos designed and built the websites and handled the social media
                    marketing.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
          </div>
    </div>
        </div> -->
        <div class="row row-cols-1 row-cols-md-4 g-3 my-5">
            <div class="col">
              <div class="card h-100 ">
                <img src="images/Group8.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SKY GO</h5>
                  <p class="card-text">Watch live TV and on demand content on your mobile device. iMobilize helped to build the
                      biggest OTT platform in the UK even before Netflix bacame popular.</p>
                </div>
                <div class="d-flex justify-content-center">
                <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                </div>
              </div>
              </div>
            <div class="col">
              <div class="card h-100">
                <img src="images/Group9.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Buddy Bounce</h5>
                  <p class="card-text">Social media app for music artists. iMobilize built the iOS app that launched Buddy Bounce's
                      startup journey.</p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                    </div>
              </div>
              </div>
            <div class="col">
              <div class="card h-100">
                <img src="images/Group10.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Onit</h5>
                <p class="card-text">A mobile app which gives the user to find event and promotions close to a user's location.</p>
              </div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                </div>
                </div>
              </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/Group10.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Fit Freaks</h5>
                    <p class="card-text">The on demand fitness app - iMobilize developed the iOS and Andriod version of the smash hit fit
                        In 5 workout series. We alos designed and built the websites and handled the social media
                        marketing.</p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                    </div>
                  </div>
                </div>
              </div>    
            <div class="row text-center mt-4">
              <h1>Websites</h1>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-3 my-5">
                <div class="col">
                  <div class="card h-100">
                    <img src="images/Group18.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title mt-2">Fit Freaks Website</h5>
                      <p class="card-text">We created the Fit Freaks community to inspire people to live a happier, healthier, more active lifestyle.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                    <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                    </div>
                  </div>
                  </div> 
                <div class="col">
                  <div class="card h-100 ">
                    <img src="images/Group19.png" class="card-img-top mb-5" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lisaduffin</h5>
                      <p class="card-text">My mission is to help you liberate yourself from unhelpful behavioral patterns so that you can fully enjoy your parenting journey.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                        </div>
                  </div>
                  </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="images/Group20.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title mt-1">Trade Hero Pro</h5>
                    <p class="card-text">Trade Hero Pro is a platform that gives you the ability to trade using the same fundamental analysis and trading strategies as some of the best financial institutions including hedge funds and investment banks.</p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                    </div>
                    </div>
                  </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/Group22.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Software Startup Academy</h5>
                        <p class="card-text">Enabling you to use your software development skills to launch your own successful startup.</p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center mt-4">
                    <h1>Web Applications</h1>
                  </div>
                  <div class="row row-cols-1 row-cols-md-4 g-3 my-5 d-flex justify-content-center">
                      <div class="col">
                        <div class="card h-100">
                          <img src="images/Group23.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title mt-5">Sports CMS</h5>
                            <p class="card-text">Custom application made for a sports club. Funcationality includes, managing finance, User attendance, SMS on attedance and fee submission and team Match</p>
                          </div>
                          <div class="d-flex justify-content-center">
                          <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                          </div>
                        </div>
                        </div> 
                      <div class="col">
                        <div class="card h-100">
                          <img src="images/Group24.png" class="card-img-top mb-5" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Trading App</h5>
                            <p class="card-text">Trade Hero Pro is a platform that gives you the ability to trade using the same fundamental analysis and trading strategies as some of the best financial institutions including hedge funds and investment banks.</p>
                          </div>
                          <div class="d-flex justify-content-center">
                              <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                              </div>
                        </div>
                        </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="images/Group25.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title mt-5">Educational CMS</h5>
                          <p class="card-text">A CMS system that can beused by the HR department for training new personal or it can also be used by People who want to sell their courses online. </p>
                        </div>
                        <div class="d-flex justify-content-center">
                          <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                          </div>
                          </div>
                        </div>
                        </div>
              </div>    
</section>

    <div class="container div-mobile">
    <div class="row row-cols-1 row-cols-md-1 g-3 my-5">
        <div class="col">
          <div class="card h-100">
            <img src="images/Group8.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">SKY GO</h3>
              <p class="card-text">Watch live TV and on demand content on your mobile device. iMobilize helped to build the
                  biggest OTT platform in the UK even before Netflix bacame popular.</p>
            </div>
            <div class="d-flex justify-content-center">
            <div class="btn btn-primary text-center px-5 py-2">View Project</div>
            </div>
          </div>
          </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/Group9.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Buddy Bounce</h3>
              <p class="card-text">Social media app for music artists. iMobilize built the iOS app that launched Buddy Bounce's
                  startup journey.</p>
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                </div>
          </div>
          </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/Group10.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Onit</h3>
            <p class="card-text">A mobile app which gives the user to find event and promotions close to a user's location.</p>
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-primary text-center px-5 py-2">View Project</div>
            </div>
            </div>
          </div>
        <div class="col">
            <div class="card h-100">
                <img src="images/Group10.png" class="card-img-top img-fluid w-100" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Fit Freaks</h3>
                <p class="card-text">The on demand fitness app - iMobilize developed the iOS and Andriod version of the smash hit fit
                    In 5 workout series. We alos designed and built the websites and handled the social media
                    marketing.</p>
              </div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row text-center mt-5">
            <h1>Websites</h1>
          </div>
          <div class="row row-cols-1 row-cols-md-4 g-3 my-5">
            <div class="col">
              <div class="card h-100">
                <img src="images/Group18.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title mt-2">Fit Freaks Website</h3>
                  <p class="card-text">We created the Fit Freaks community to inspire people to live a happier, healthier, more active lifestyle.</p>
                </div>
                <div class="d-flex justify-content-center">
                <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                </div>
              </div>
              </div> 
            <div class="col">
              <div class="card h-100">
                <img src="images/Group19.png" class="card-img-top mb-5" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Lisaduffin</h3>
                  <p class="card-text">My mission is to help you liberate yourself from unhelpful behavioral patterns so that you can fully enjoy your parenting journey.</p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                    </div>
              </div>
              </div>
            <div class="col">
              <div class="card h-100">
                <img src="images/Group20.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title mt-1">Trade Hero Pro</h3>
                <p class="card-text">Trade Hero Pro is a platform that gives you the ability to trade using the same fundamental analysis and trading strategies as some of the best financial institutions including hedge funds and investment banks.</p>
              </div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                </div>
                </div>
              </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/Group22.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Software Startup Academy</h3>
                    <p class="card-text">Enabling you to use your software development skills to launch your own successful startup.</p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-center mt-4">
                <h1>Web Applications</h1>
              </div>
              <div class="row row-cols-1 row-cols-md-4 g-3 my-5">
                  <div class="col">
                    <div class="card h-100">
                      <img src="images/Group23.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h3 class="card-title mt-5">Sports CMS</h3>
                        <p class="card-text">Custom application made for a sports club. Funcationality includes, managing finance, User attendance, SMS on attedance and fee submission and team Match</p>
                      </div>
                      <div class="d-flex justify-content-center">
                      <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                      </div>
                    </div>
                    </div> 
                  <div class="col">
                    <div class="card h-100">
                      <img src="images/Group24.png" class="card-img-top mb-5" alt="...">
                      <div class="card-body">
                        <h3 class="card-title">Trading App</h3>
                        <p class="card-text">Trade Hero Pro is a platform that gives you the ability to trade using the same fundamental analysis and trading strategies as some of the best financial institutions including hedge funds and investment banks.</p>
                      </div>
                      <div class="d-flex justify-content-center">
                          <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                          </div>
                    </div>
                    </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="images/Group25.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title mt-5">Educational CMS</h3>
                      <p class="card-text">A CMS system that can beused by the HR department for training new personal or it can also be used by People who want to sell their courses online. </p>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="btn btn-primary text-center px-5 py-2">View Project</div>
                      </div>
                      </div>
                    </div>
                    </div>
      </div>  
<!-- <div class="container pt-5 div-mobile">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center sky_go">
                <img src="images/Group8.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h4 class="card-title text-white">SKY GO</h4>
                    <p class="card-text">Watch live TV and on demand content on your mobile device. iMobilize helped to
                        build the biggest OTT platform in the UK even before Netflix bacame popular.</p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center mt-4 buddy_bounce">
                <img src="images/Group9.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h4 class="card-title text-white">Buddy Bounce</h4>
                    <p class="card-text">Social media app for music artists. iMobilize built the iOS app that launched
                        Buddy Bounce's startup journey</p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center my-4 on_it">
                <img src="images/Group10.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h4 class="card-title text-white">Onit</h4>
                    <p class="card-text">A mobile app which gives the user to find event and promotions close to a
                        user's location.</p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center fit_freaks">
                <img src="images/Group10.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-white">Fit Freaks</h4>
                    <p class="card-text text-white">The on demand fitness app - iMobilize developed the iOS and Andriod
                        version of the smash hit fit In 5 workout series. We alos designed and built the websites and
                        handled the social media marketing</p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div> -->