<style>
  .circle-profile {
    height: 85px;
    width: 85px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 30px;

  }

  .quote {
    position: relative;
    right: 100px;
    bottom: 10px;
    width: auto;
    z-index: 2;
  }

  .quote-mob {
    position: relative;
    right: 100px;
    bottom: 10px;
    width: auto;
    z-index: 2;
  }

  .border-darkblue {
    border-color: #345995;
    border: 5px solid #345995;
  }
</style>
<section class="mt-5 div-desktop">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center p-3">
           What People Say About Us
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="owl-carousel owl-theme text-center">
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-sm12">
                  <!-- <center>
                    <div class="circle-profile">
                      <img src="/landing-page/profile-picture.png" class="img-circle">
                    </div>
                  </center> -->
                </div>
              </div>
              <div class="row mt-3">
                <center>
                  <div class="w-50">
                    <div class="card border-darkblue border-3">
                      <div class="card-body bg-white">
                        <blockquote class="blockquote">
                          <div class="quote">
                            <div class="quote">
                              <i class="fas fa-quote-left fa-2x"></i>
                            </div>
                          </div>
                          <p class="mb-0">iMobilize helped me with my Branding and then they designed my mobile
                            responsive website. I started getting customers as soon as I posted the website on Facebook.
                            I will forever be grateful for the brilliant service they gave me. </p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="p-3">
                      <h5 class="text-center font-weight-bold">
                        Lisa Duffin - Business Coach
                      </h5>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <!-- <center>
                    <div class="circle-profile">
                      <img src="/landing-page/profile-picture.png" class="img-circle">
                    </div>
                  </center> -->
                </div>
              </div>
              <div class="row mt-3">
                <center>
                  <div class="w-50">
                    <div class="card border-darkblue">
                      <div class="card-body bg-white">
                        <blockquote class="blockquote">
                          <div class="quote">
                            <div class="quote">
                              <i class="fas fa-quote-left fa-2x"></i>
                            </div>
                          </div>
                          <p class="mb-0">We needed to redo our old website. iMobilize created a responsive website for
                            us that connected to a content management system. This allowed us to update the website
                            ourselves with new content. They helped us choose the technology and then quoted us a good
                            price for the work. Fantastic all round</p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="p-3">
                      <h5 class="text-center font-weight-bold">
                        Tzu - Head of Digital at Sovryn
                      </h5>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <!-- <center>
                    <div class="circle-profile">
                      <img src="/landing-page/profile-picture.png" class="img-circle">
                    </div>
                  </center> -->
                </div>
              </div>
              <div class="row mt-3">
                <center>
                  <div class="w-50">
                    <div class="card border-darkblue border-3">
                      <div class="card-body bg-white">
                        <blockquote class="blockquote">
                          <div class="quote">
                            <div class="quote">
                              <i class="fas fa-quote-left fa-2x"></i>
                            </div>
                          </div>
                          <p class="mb-0">Fit Freaks simply wouldn’t be here today if it wasn’t for iMobilize. The brand
                            helps us to attract interest from all over the world. And the mobile app and responsive
                            website they developed puts us in the palm of all our customers. Words simply cannot express
                            my gratitude</p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="p-3">
                      <h5 class="text-center font-weight-bold">
                        Marvin Ambrosius - Founder of Fit Freaks
                      </h5>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-5 div-mobile">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center font-weight-bold"> Testimonials</h1>
        <div class="owl-carousel owl-theme text-center">
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-sm12">
                  <!-- <center>
                    <div class="circle-profile">
                      <img src="/landing-page/profile-picture.png" class="img-circle">
                    </div>
                  </center> -->
                </div>
              </div>
              <div class="row mt-3">
                <center>
                  <div class="w-100">
                    <div class="card border-darkblue border-3">
                      <div class="card-body bg-white">
                        <blockquote class="blockquote">
                          <div class="quote-mob">
                            <i class="fas fa-quote-left fa-1x"></i>
                          </div>
                          <p class="mb-0">iMobilize helped me with my Branding and then they designed my mobile
                            responsive website. I started getting customers as soon as I posted the website on Facebook.
                            I will forever be grateful for the brilliant service they gave me. </p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="p-3">
                      <h5 class="text-center font-weight-bold">
                        Lisa Duffin - Business Coach
                      </h5>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <!-- <center>
                    <div class="circle-profile">
                      <img src="/landing-page/profile-picture.png" class="img-circle">
                    </div>
                  </center> -->
                </div>
              </div>
              <div class="row mt-3">
                <center>
                  <div class="w-100">
                    <div class="card border-darkblue border-3">
                      <div class="card-body bg-white">
                        <blockquote class="blockquote">
                          <div class="quote-mob">
                            <i class="fas fa-quote-left fa-1x"></i>
                          </div>
                          <p class="mb-0">We needed to redo our old website. iMobilize created a responsive website for
                            us that connected to a content management system. This allowed us to update the website
                            ourselves with new content. They helped us choose the technology and then quoted us a good
                            price for the work. Fantastic all round</p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="p-3">
                      <h5 class="text-center font-weight-bold">
                        Tzu - Head of Digital at Sovryn
                      </h5>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <!-- <center>
                    <div class="circle-profile">
                      <img src="/landing-page/profile-picture.png" class="img-circle">
                    </div>
                  </center> -->
                </div>
              </div>
              <div class="row mt-3">
                <center>
                  <div class="w-100">
                    <div class="card border-darkblue border-3">
                      <div class="card-body bg-white">
                        <blockquote class="blockquote">
                          <div class="quote-mob">
                            <i class="fas fa-quote-left fa-1x"></i>
                          </div>
                          <p class="mb-0">Fit Freaks simply wouldn’t be here today if it wasn’t for iMobilize. The brand
                            helps us to attract interest from all over the world. And the mobile app and responsive
                            website they developed puts us in the palm of all our customers. Words simply cannot express
                            my gratitude</p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="p-3">
                      <h5 class="text-center font-weight-bold">
                        Marvin Ambrosius - Founder of Fit Freaks
                      </h5>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>