<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    p {
        font-size: 20px;
    }

    li {
        font-size: 20px;
    }

    .projects {
        position: relative;
        bottom: 160px;
    }
    ul {
  display: table;
  margin: 0 auto;
}
</style>
<section class="pt-5">
    <div class="container div-desktop">
        <div class="row">
            <div class="d-flex align-items-center">
                <div class="col-md-6">
                    <h1 class="text-center pt-2 font-weight-bold">What we do</h1>
                    <ul class="p-3">
                        <li> Graphic Design UX / UI                        </li>
                    </br>
                        <li>Branding and Logos
                        </li>
                    </br>
                        <li>Mobile App Development
                        </li>
                    </br>
                        <li>Mobile Responsive Websites
                        </li>
                    </br>
                        <li>Mobile app commerce
                        </li>
                    </br>
                        <li>Content Management Web Portals
                        </li>
                    </br>
                    <li>Saas (Software As A Service) products</li>
                    </br>
                    <li>Social Media Marketing (Organic Content)</li>
                    </br>
                    <li>Social Media Advertising (PPC)
                    </li>
                    </br>
                    <li>Digital Marketing Strategy
                    </li>
                    </br>
                    <li>Business Consultation
                    </li>
                    </br>
                    <li>Growth Hacking
                    </li>
                    </br>
                    </ul>
                    <p class="text-center p-3">
                        Unlike other App Development companies, we actually create our own digital products too. Our knowledge of digital product development comes from years of experience doing it for ourselves. We then use our expertise of what works to help others.</br>
</br>
This usually means we are in high demand. We choose to only work on a select few projects at a time. We would love to hear about your project and see if this is something we can help you with.
</br>
</br>

                    </p>
                    <center>
                        <button type="button" href="/" class="btn btn-lg btn-outline-warning border-">ESTIMATE THE COST OF MY PROJECT
                        </button>

                    </center>

                </div>
                <div class="col-md-6">
                    <img src="landing-page/projects.png" class="img-fluid h-75 pr-5 projects">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="p-3 text-center">Quisque porttitor felis at nunc sagittis pulvinar. Quisque interdum purus
                    luctus nibh auctor, eget vehicula orci finibus. Maecenas pellentesque turpis mauris, in elementum
                </h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="landing-page/mac-book.png" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 class="text-center p-3 font-weight-bold">What we do</h1>
                <p class="text-center">iMobilize is a mobile app design and development studio based in London.
                    Mobile apps and mobile optimised websites are our speciality.
                    We design and build custom-made mobile apps and web systems that make a difference.</p>
            </div>
        </div>
    </div>
    <div class="container div-mobile">
        <div class="row">
            <div class="col-md-12">
                <h1 class="p-3 font-weight-bold text-center">What we do</h1>
                <ul class="p-3">
                    <li> Graphic Design UX / UI                        </li>
                </br>
                    <li>Branding and Logos
                    </li>
                </br>
                    <li>Mobile App Development
                    </li>
                </br>
                    <li>Mobile Responsive Websites
                    </li>
                </br>
                    <li>Mobile app commerce
                    </li>
                </br>
                    <li>Content Management Web Portals
                    </li>
                </br>
                <li>Saas (Software As A Service) products</li>
                </br>
                <li>Social Media Marketing (Organic Content)</li>
                </br>
                <li>Social Media Advertising (PPC)
                </li>
                </br>
                <li>Digital Marketing Strategy
                </li>
                </br>
                <li>Business Consultation
                </li>
                </br>
                <li>Growth Hacking
                </li>
                </br>
                </ul>
                <div class="pt-3"></div>
                <center>
                    <button type="button" href="/" class="btn btn-sm btn-outline-warning border-">ESTIMATE THE COST OF MY PROJECT
                    </button>

                </center>

            </div>
            <div class="col-md-12 pt-3">
                <center>    
                    <img src="landing-page/projects.png" class="img-fluid w-75">
                </center>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="p-3 text-center">Quisque porttitor felis at nunc sagittis pulvinar. Quisque interdum purus
                    luctus nibh auctor, eget vehicula orci finibus. Maecenas pellentesque turpis mauris, in elementum
                </h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <img src="landing-page/mac-book.png" class="img-fluid">
            </div>
            <div class="col-md-12">
                <h1 class="text-center p-3 font-weight-bold">What we do</h1>
                <p class="text-center">iMobilize is a mobile app design and development studio based in London.
                    Mobile apps and mobile optimised websites are our speciality.
                    We design and build custom-made mobile apps and web systems that make a difference.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</section>